h1, h2, h3, nav, footer {
   font-family: Georgia, Cambria, "Times New Roman", serif;
  }
:root{
   --dark-background-color: #111111;
   --dark-text-color: white;
   --dark-box: grey;
   --dark-header:#424642;
   --dark-table :#bbbbbb;
}

body {
   font-family: "Lucida Sans", Verdana, Arial, sans-serif;
   font-size: 80%;
   --background-color: white;
   --box: #EBF4FB;
   --text-color: #333333;
   --header: #95BEF0;
   --table:#FAFCFF;
   background: var(--background-color);
   color: var(--text-color);
}

body.theme-dark{
   --background-color:var(--dark-background-color);
   --text-color:var(--dark-text-color);
   --box:var(--dark-box);
   --header:var(--dark-header);
   --table:var(--dark-table);
}
div#searchBox, div#listBox {
   margin: 0.25em auto;
   padding: 1em;
   border: 1pt solid var(--header);
   width: 80%;
}
div#searchBox { 
   background-color:var(--box);
   margin-top: 1em; 
   display: flex;
   flex-wrap: wrap;
   align-items:center;
   justify-content:space-between;
}
div#listBox { 
   margin-top: 1em; 
   background-color: var(--table);
   }

table {
   width: 100%;
   border: collapse; 
   border-spacing: 0;
   
}
table tbody td{
   border-top: 1pt solid var(--header);   
   line-height: 1.5em;
   vertical-align: middle;
   padding: 0.5em 0.75em;
  
   
}
table thead th {
   text-align: left;
   padding: 0.25em 0.75em; 
}
table thead {
   background-color: var(--box) ; 
}

table tbody td:first-child  {
   text-align: left;
   padding: 0.5em 0em; 
   font-style: italic;
   
}
table tbody td:nth-child(4)  {
   text-align: left;
   padding: 0.5em 0em; 
   font-style: italic;
   white-space:nowrap; 
   display: inline-block;
}

caption {
      background-color: var(--header);
      padding: 0.5em 0.5em; 
      font-weight: bold;
      font-size: 1.2em;
}

img {
   height: 40px;
   width: 30px;
   
}
img.bookImg{
   height: 80px;
   width: 70px;
}

img#cart {
   height: 30px;
   width: 20px;
}
@media only screen and (max-width: 967px),
(min-device-width: 967px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
      border-right: 1px solid #ccc; 
      border-left: 1px solid #ccc;
   }
   
      caption{
      display: block;
   }
}
